{% include base_path %}

{% if page.collection == 'blogs' %}
  {% assign sorted_collection = site.blogs | sort: 'path' %}
{% else %}
  {% assign sorted_collection = site[page.collection] %}
{% endif %}

{% assign prev_post = nil %}
{% assign next_post = nil %}
{% assign found = false %}

{% for post in sorted_collection %}
  {% if found == true and next_post == nil %}
    {% assign next_post = post %}
  {% endif %}
  {% if post.url == page.url %}
    {% assign found = true %}
  {% endif %}
  {% if found == false %}
    {% assign prev_post = post %}
  {% endif %}
{% endfor %}

{% if prev_post or next_post %}
  <nav class="pagination">
    {% if prev_post %}
      <a href="{{ base_path }}{{ prev_post.url }}" class="pagination--pager" title="{{ prev_post.title | markdownify | strip_html }}"><i class="fas fa-arrow-left" aria-hidden="true"></i> Previous</a>
    {% else %}
      <a href="#" class="pagination--pager disabled"><i class="fas fa-arrow-left" aria-hidden="true"></i> Previous</a>
    {% endif %}
    {% if next_post %}
      <a href="{{ base_path }}{{ next_post.url }}" class="pagination--pager" title="{{ next_post.title | markdownify | strip_html }}">Next <i class="fas fa-arrow-right" aria-hidden="true"></i></a>
    {% else %}
      <a href="#" class="pagination--pager disabled">Next <i class="fas fa-arrow-right" aria-hidden="true"></i></a>
    {% endif %}
  </nav>
{% endif %}
